<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DealerOn Coding Test Submission - Chris Hellkamp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="bg-black text-white border-bottom box-shadow mb-3 p-3">
            <img alt="DealerOn" src="~/img/2x-dealeron-logo-white-1.webp" />
            <span class="navbar-brand mb-5">Coding Test Submission - Trains</span>
            <span class="navbar-brand mb-5">Chris Hellkamp</span>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            DealerOn Coding Test Submission - Chris Hellkamp
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/vue/vue.global.prod.js"></script>
    <script src="~/lib/axios.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>