@page
@model IndexModel
@{
    ViewData["Title"] = "Trains";
}

<div id="app-container">
    <h2>Input</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div>
                    Enter any number of track definitions, separated by commas, for a set of stations <strong>A</strong>-<strong>E</strong>.
                    A track definition is the start station, end station, and distance (positive whole number).
                    Example:  "AB1, BA2" specifies one track from A to B with a distance of 1 and one track
                    from B to A with a distance of 2.
                </div>
                <textarea
                    v-model="inputData"
                    class="form-control"
                    placeholder="Enter track definitions separated by commas (Ex: AB1, BC2, CA3, AC3)."
                    rows="10">
                </textarea>
                <div v-if="errorMsg" class="text-danger">{{errorMsg}}</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-5 text-end">
                <button v-on:click="submitInput" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

    <h2>Results</h2>
    <div v-if="results && results.length">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Output</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="result in results">
                    <td>{{result.name}}:</td>
                    <td>{{result.value}}</td>
                    <td>{{result.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div v-else>
        <span class="text-black-50">Nothing to display.</span>
    </div>
</div>

@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    inputData: '',
                    results: [],
                    errorMsg: ''
                };
            },
            methods: {
                submitInput() {
                    let appObj = this;
                    axios.post('/api/work',
                        {
                            'data': appObj.inputData
                        }
                    ).then(function(response) {
                        if (response.data && response.data.error) {
                            appObj.results = undefined;
                            appObj.errorMsg = response.data.error;
                        } else {
                            // populate results
                            appObj.results = response.data;
                            appObj.errorMsg = undefined;
                        }
                    }).catch(function (error) {
                        appObj.error = error;
                    });

                }
            }
        }).mount('#app-container');
    </script>
}
